<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style lang="stylus">
::-webkit-scrollbar 
  display none
.el-main 
  > div 
    width 100%
    padding 15px
    background #fff
    border-radius 10px
    .breadcrumb-wrap
      margin-bottom 20px
</style>
